* {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
h1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
.body {
    height: 68vh;
    width: 38vw;
    background-color: aqua;
    margin: auto;
    border: 2px solid black;
    margin-top: 60px;
}

.nav {
    height: 50px;
    background-color: yellow;
    text-align: center;
    font-size: 18px;
}

.nav P {
    position: relative;
    bottom: -14px;
    margin-top: -5.2px;
    font-weight: 800px;
    font-size: 22px;
}

/* middle */
.hero {
    background-color: greenyellow;
    height: 282px;
    margin-top: -5px;
}

.boxes {
    display: flex;
}

.box1 {
    border: 2px solid black;
    height: 174px;
    width: 185px;
    background-color: blanchedalmond;
    position: relative;
    bottom: -45px;
    left: 35px;
    text-align: center;
}

.box2 {
    border: 2px solid black;
    height: 174px;
    width: 185px;
    background-color: blanchedalmond;
    position: relative;
    bottom: -45px;
    left: 200px;
    text-align: center;
    position: relative;
}
.box1 p{
    position: relative;
    bottom: -55px;
    top: 65px;
}
.box2 p{
    position: relative;
    bottom: -55px;
}

/* footer */
.footer {
    border: 2px solid black;
    border-radius: 18px;
    height: 40px;
    width: 30vw;
    margin: auto;
    margin-top: 64px;
}

.footer p {
    text-align: center;
    margin-top: 6px;
    font-size: 20px;
}