* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    
}

/* body{
    margin: auto;
} */
html {
    background-color: rgba(240, 248, 255, 0.842);
    border: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    box-shadow: 5px 5px 20px 7px #cac7c8;
}

.navbar {
    height: 70px;
    background-color: rgb(35, 47, 62);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon.png");
    background-size: cover;
    height: 40px;
    width: 100%;
}

.logo2 {
    background-image: url("amazon.png");
    background-size: cover;
    height: 40px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
    padding: 7px;
}

.border:hover {
    border: 2px solid rgb(255, 255, 255);
    margin-left: 3px;
}

.font1 {
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #ccc;
    font-size: 14px;
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.font2 {
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-items: center;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second {
    margin-left: 6px;
}

/* /box3- */
.search-pannel {
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    margin-left: 3px;
    width: 626px;
    height: 40px;
    border-radius: 3px;
}

.select-option {
    background-color: rgb(211, 223, 233);
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-bottam-left-radius: 3px;
    border: none;
    width: 41px;
}

.search-input {
    width: 100%;
    border: none;
}

.search-icon {
    width: 40px;
    background-color: rgb(240, 145, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-left-radius: 3px;
    border-bottam-left-radius: 3px;
    border: none;
}

.Nav-4 {
    font-size: 12px;
    padding: 5px;
}

.paragraph1 {
    font: inherit;
}

.paragraph2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.Nav-5-1 {
    font: inherit;
}

.Nav-5-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.shopping-logo i {
    font-size: 35px;
}

.shopping-logo {
    font-size: 0.85rem;
    font-weight: 700;
}

.pannel {
    height: 50px;
    background-color: var(--__N4QdCheV6mGo, #0f1111);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pannel-1 {
    display: flex;
    align-items: center;
}

.pannel-ops p {
    display: inline;
    margin-left: 20px;
}

.pannel-deals {
    margin-left: 190px;
}

.pannel-ops {
    width: 70%;
}

label {
    font-weight: 600;
}

.Hero {
    background-image: url("Hero1.jpg");
    height: 100vh;
    width: 95vw;
    margin: auto;
}

.Hero1txt {
    background-color: white;
    color: black;
    font-weight: 500;
    width: 100vw;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: flex;
    justify-content: center; */
}

.side {
    background-color: white;
    position: relative;
    bottom: -388px;
    width: 100vw;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Hero1txt a {
    color: aqua;
}

/* .Hero-2{
    background-image: url("Fuji_Gaming_store_Dashboard_card_1x_EN._SY304_CB564799420_.jpg");
    height: 400px;
    width: 550px;
    position: relative;
    bottom: -1000px;
    left: -1300px;
    border: 2px solid white;
} */
.shop-section {
    margin: auto;
    display: flex;
    position: relative;
    top: -400px;
}

.box1 {
    padding: 23px;
}

.box {
    margin-left: 60px;
    width: 26%;
    height: 506px;
    border: 2px solid white;
    background-color: white;
    position: relative;
    bottom: -300px;
}

/* .box1{
    background-image: url("Fuji_Gaming_store_Dashboard_card_1x_EN._SY304_CB564799420_.jpg");
    width:100px;
    height: 200px;
} */
h2 {
    text-align: center;
}

.img1-img2 {
    display: flex;

}

.box-1-img {
    height: 120px;
    width: 400px;
    margin-top: 23px;
}

.Headsets {
    font-size: 18px;
    position: relative;
    bottom: -140px;
}

.box-2-img {
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 400px;
    margin-top: 23px;
}

.Keyboards {
    font-size: 18px;
    position: relative;
    bottom: -170px;
    left: -12px;
}

.img3-img4 {
    display: flex;
}

.box-3-img {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    height: 140px;
    width: 151px;
    margin-top: 100px;
}

.Mouse {
    font-size: 18px;
    position: relative;
    bottom: -180px;
    left: 35px;
}

.box-4-img {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    height: 110px;
    width: 179px;
    margin-top: 100px;
}

.chair {
    font-size: 18px;
    position: relative;
    bottom: -180px;
    left: 10px;
    font-size: 19px;
}

/* Box-2 */
.box2 {
    padding: 23px;
}

.box2-img {
    margin-top: 67px;
    margin: auto;
    height: 300px;
    width: 80%;
}

.shop-office-products {
    margin-top: 23px;
    color: rgb(33, 98, 161);
    position: relative;
    left: 45px;
}

.seemore {
    margin-top: 23px;
    color: rgb(33, 98, 161);
    position: relative;
    left: 45px;
}

.shopgaming {
    margin-top: 23px;
    color: rgb(33, 98, 161);
    position: relative;
    left: 45px;
}

.box3 {
    padding: 23px;
}

/* footer */
.footer {
    min-height: 100vh;
    background-color: #232F3E;
    position: relative;
    flex-direction: column;
}

.footer-pannel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background-color: #606162c1;
}

.footer-pannel p {
    color: white;
    font-weight: 500;
}

.footer-text {
    display: flex;
    margin: 34px;
    padding: 24px;
}

.first-text {
    color: white;
    line-height: 1.8;
}

.Gettoknow {
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 10px;
    position: relative;
    right: -160px;
}

.carrerswala {
    font-size: 16px;
    color: rgb(221, 221, 221);
    position: relative;
    right: -160px;
}

.second-text {
    line-height: 1.8;
}

.Gettoknow1 {
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 10px;
    position: relative;
    right: -340px;
}

.carrerswala1 {
    font-size: 16px;
    color: rgb(221, 221, 221);
    position: relative;
    right: -340px;
}

.third-text {
    line-height: 1.8;
}

.Gettoknow2 {
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 10px;
    position: relative;
    right: -520px;
}

.carrerswala2 {
    font-size: 16px;
    color: rgb(221, 221, 221);
    position: relative;
    right: -520px;
}

.fourth-text {
    line-height: 1.8;
}

.Gettoknow3 {
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 10px;
    position: relative;
    right: -680px;
}

.carrerswala3 {
    font-size: 16px;
    color: rgb(221, 221, 221);
    position: relative;
    right: -680px;
}

.amazon-img {
    height: 40px;
    width: 100px;
    position: relative;
    right: -700px;
    margin-top: 67px;
}

.footer-panner-3-1 {
    color: white;
    font-size: 23px;
    line-height: 2.8;
}

.footer-panner-3-2 {
    font-size: 16px;
    color: rgb(221, 221, 221);
}

.foooter-pannel4 {
    position: absolute;
    background-color: #131A22;
    height: 100vh;
    width: 100%;
}

.foooter-pannel4 p {
    position: relative;
    z-index: 10;
    right: -530px;
    top: -55px;
    color: white;
    margin-top: 370px;
}

.last {
    color: white;
    position: relative;
    right: -800px;
    top: -44px;
    margin-top: 7px;
}

label {
    font-family :"Amazon Ember", Arial, sans-serif;
    font-size: 18px;
    color: black;
}

.feedback {
    margin-top: 14px;
    background-color:aliceblue;
}
textarea {
    margin-top: 14px;
}